<!DOCTYPE html>
<html lang="en">

<head>
  {{> head defaultPageTitle='Untitled'}}
</head>

<body class="article docs-case-study{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
  {{> header}}

  <div class="body">
    {{> nav componentOrder=page.attributes.component-order}}
    <main class="article">
      <div class="toolbar" role="navigation">
        {{> nav-toggle}}
        {{#with site.homeUrl}}
        <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
        {{/with}}
        {{> breadcrumbs}}
      </div>

      <div class="content">
        <article class="doc">
          {{#with @root.page.title}}
          <h1 class="page">{{{this}}}</h1>
          {{/with}}
          <h2>Cylinder</h2>
          {{#with (get-page-cards @root.page 'aform' true)}}
          {{#if this.length}}
          <h3 id="manuals">A Formulation</h3>
          <div class="manuals">
            {{#each this}}
            <div class="manual">{{> page-card this}}</div>
            {{/each}}
          </div>
          {{/if}}
          {{/with}}
          {{#with (get-page-cards @root.page 'hform' true)}}
          {{#if this.length}}
          <h3 id="manuals">H Formulation</h3>
          <div class="manuals">
            {{#each this}}
            <div class="manual">{{> page-card this}}</div>
            {{/each}}
          </div>
          {{/if}}
          {{/with}}
          <h2>Roebel Cables</h2>
          {{#with (get-page-cards @root.page 'roebel' true)}}
          {{#if this.length}}
          <h3 id="benchmarks">A Formulation</h3>
          <div class="benchmarks">
            {{#each this}}
            <div class="benchmark">{{> page-card this}}</div>
            {{/each}}
          </div>
          {{/if}}
          {{/with}}
          <h2>Tapes</h2>
          {{#with (get-page-cards @root.page 'tape' true)}}
          {{#if this.length}}
          <h3 id="cases">T-A Homogeneous Formulation</h3>
          <div class="cases">
            {{#each this}}
            <div class="case">{{> page-card this}}</div>
            {{/each}}
          </div>
          {{/if}}
          {{/with}}
        </article>
      </div>
    </main>
  </div>

  {{> footer}}
</body>

</html>